@import "tailwindcss";

h1 {
  @apply block text-4xl font-bold my-2.5;
}
button {
  @apply w-fit h-fit py-2 px-4 m-1 rounded-3xl font-bold;
}
.containeer {
  @apply flex flex-row items-center gap-12;
}
